<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body
    class="text-light d-flex flex-column vh-100 align-items-center justify-content-center"
    style="margin: 0;background-image:linear-gradient(310deg,#7928ca,#ff0080);"
  >
    <div class="">
      <canvas class="img-fluid vh-100 w-auto rounded-5 d-flex justify-content-center align-items-center" id="canvas">
        <!-- <canvas
    class="img-fluid rounded-5"
    id="canvas"
    style="max-width: 50%; height: auto"
    > -->
        Mohon maaf, browser Anda tidak didukung &lt;canvas&gt;.
      </canvas>
    </div>

    <script>
      var portStr = "";
      if (location.port != "") {
        portStr = ":" + location.port;
      }
      var protocolStr = "ws";
      if (location.protocol === "https:") {
        protocolStr = "wss";
      }
      console.log(
        protocolStr + "://" + location.hostname + portStr + "/jpgstream_client"
      );
      var ws = new WebSocket(
        protocolStr + "://" + location.hostname + portStr + "/jpgstream_client"
      );
      var canvas = document.getElementById("canvas");
      var ctx = canvas.getContext("2d");

      var img = new Image();
      img.onload = function () {
        canvas.style.width = this.width + "px";
        canvas.style.height = this.height + "px";
        ctx.drawImage(
          this,
          0,
          0,
          this.width,
          this.height, // source rectangle
          0,
          0,
          canvas.width,
          canvas.height
        ); // destination rectangle
      };
      
      ws.onmessage = function (message) {
        var url = URL.createObjectURL(message.data);
        // console.log(url);
        img.src = url;
      };
    </script>
  </body>
</html>
